.red {
	border: 5px solid red;
	height: 500px;
	width: 500px;
}

.green {
	border: 5px solid green;
	height: 50px;
	width: 50px;
}

.blue {
	border: 5px solid blue;
	height: 50px;
	width: 50px;
	position: static;
}
